.web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196F3;
  margin-left: 215px;
}

.study {
  color: #2196F3;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-right: 50px;
  padding-left: 93px;
}

.portafolio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-right: 50px;
}

.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding-right: 344px;
}

.gmail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196F3;
}

.numero {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  padding-left: 50px;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  color: white;
  font-size: 44px;
  line-height: 60px;
  margin-left: 452px;
  padding-top: 200px;
  text-align: center;
}

.div {
 background-color: #2F303A;
}

.div2 {
  background-color: white;
}

.div-general {
  background: white;
}

.letras-boton {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color:white;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}

.boton {
  background-color: #2196F3;
  margin-bottom: 200px;
  margin-left: 670px;
}

.detalles {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding-right: 30px;
}

.text-detalles {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.ul {
  list-style: none;
}

.puntuality {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  margin-top: 95px;
}

.text-puntuality {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 115px;
}

.planificacion {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.text-planificacion {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.tecnology {
  color: #212121;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.text-tecnology {
  color: #757575;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.imagen {
  background: #FFFFFF;  
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.text-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.text-description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.imagenes {
 margin-left: 208px;
 background-color: #F5F4FA;
}

.texto-web {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  margin-left: 215px;
  font-size: 14px;
  line-height: 24px;
}

.contacto-web {
  margin-left: 215px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgb(255, 255, 255, 0.6);
}

.div3 {
 background-color: #2F303A;;
}